html{
    background-image: url('https://i.ytimg.com/vi/XIU8PUMN0f0/maxresdefault.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: black;
    margin-left: 2vh;
}
.top{
margin-left: 1vw;
color: black;
font-weight: 800;
font-size: 150%;

}
h2{
    position: fixed;
    bottom: 0;
    right: 1;
    margin-bottom: 10vh;
    margin-left: 5vh;
    color: white;
    
}
.bottom{
color: white;
position: fixed;
bottom: 0;
right: 1;
margin-bottom: 5vh;
margin-left: 5vh;
font-weight: 800;
font-size: 150%;
}